body,html{
    height:100%;
    overflow-x: hidden;
    background-image: url('https://source.unsplash.com/RsRTIofe0HE/1600x900');
}

.bg-light {
    background-color: transparent !important;
}

.card{
    background-color: transparent !important;
    border: none !important;
}

.row{
    display: flex;
    flex-direction: row;
    align-content: space-around;
    justify-content: space-around;
}

.fixed-bottom {
    position: absolute !important;
}

.container1{
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
}

.icon{
    max-width: 80px;
    max-height: 80px;
}

h5{
    margin: unset !important;
}
